language: php

php:
    - 5.3.3
    - 5.3
    - 5.4
    - 5.5
    - 5.6
    - hhvm

script: ./build/tools/phpunit.phar --configuration ./build/travis-ci.xml

matrix:
  allow_failures:
    - php: hhvm
notifications:
  email: false
